{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="card-body pt-0">

                            <h3 class="text-center mt-5 mb-4">
                                <a href="index.html" class="d-block auth-logo">
                                    <img src="{% static 'images/logo-dark.png' %}" alt="" height="30"
                                         class="auth-logo-dark">
                                    <img src="{% static 'images/logo-light.png' %}" alt="" height="30"
                                         class="auth-logo-light">
                                </a>
                            </h3>

                            <div class="p-3">
                                <h4 class="text-muted font-size-18 mb-1 text-center">{% trans 'Reset password' %}</h4>
                                <p class="text-muted text-center">{% trans "Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one." %}</p>
                                <form class="form-horizontal mt-4" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {% render_field form.email placeholder=form.email.label class+="form-control"  %}
                                    </div>
                                    
                                    <input type="hidden" name="next" value="{{ next }}" />
                                    <div class="mb-3 row mt-4">
                                        <div class="col-12 text-end">
                                            <button method="{{csrf_token}}" class="btn btn-primary w-100 waves-effect waves-light" type="submit">
                                                {% trans 'Log In' %}
                                            </button>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        
                        ©
                        <script>document.write(new Date().getFullYear())</script>
                        {% trans 'The National Office of Innovations' %} <span class="d-none d-sm-inline-block"> - {% trans 'Created by Sanjarbek Usmonov' %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}