{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block button %}
{% if request.user.is_superuser %}
<div class="d-none d-sm-block">
    <div class="dropdown dropdown-topbar pt-3 mt-1 d-inline-block">
        {% if request.user.groups.first.max_limit_category > categ_count %}
        <a class="btn btn-primary waves-effect waves-light" href="{% url 'category-create' %}">{% trans 'Category' %}</a>
        {% else %}
        <a type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl">{% trans 'Category' %}</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                {% include 'base2.html' with inuse_count=query_count query_count_ir=query_count_ir taken_count=query_count_tw query_count_in=query_count_in %}

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">{% trans 'Category' %}</h4>
                                <div class="table-responsive">
                                    <table class="table align-middle table-centered table-vertical table-nowrap mb-1">
                                        <thead>
                                            <tr>
                                                <th>{% trans 'Category name' %}</th>
                                                <th>{% trans 'Category image' %}</th>
                                                <th>{% trans 'Created at' %}</th>
                                                <th>{% trans 'Actions' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for y in query %}
                                            <tr>
                                                <td>{{ y.name }}</td>
                                                <td>
                                                    <img src="
                                                        {% if y.image %}
                                                        {{ y.image.url }}
                                                        {% else %}
                                                        {% static 'images/devices-sketch-image.jpg' %}
                                                        {% endif %}
                                                    " alt="Category image"
                                                         class="avatar-xs me-2 rounded-circle hoveringimg"/>
                                                    <img class="hoverimg" src="
                                                        {% if y.image %}
                                                        {{ y.image.url }}
                                                        {% else %}
                                                        {% static 'images/devices-sketch-image.jpg' %}
                                                        {% endif %}
                                                    ">
                                                </td>
                                                <td>
                                                    {{ y.created_at| date:'d F Y' }}
                                                </td>
                                                <td>
                                                    {% if request.user.is_superuser %}
                                                    <a href="{% url 'category-edit' pk=y.pk %}" class="btn btn-outline-warning btn-sm">
                                                        <i class="mdi mdi-pen"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-outline-danger btn-sm" onclick="confirm_category_delete('{{ y.pk }}', '{{ y.name }}');">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                    {% endif %}
                                                    <a href="" class="btn btn-outline-info btn-sm" onclick="window.print();return false;"><i class="mdi mdi-printer"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        {% if query.has_other_pages %}
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                {% if query.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ query.previous_page_number }}" tabindex="-1">&laquo;</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="?page={{ query.previous_page_number }}">{{ query.previous_page_number }}</a></li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">x</a></li>
                                {% endif %}
                                
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{query.number}} <span class="sr-only">(current)</span></a>
                                </li>

                                {% if query.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ query.next_page_number  }}">{{ query.next_page_number  }}</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ query.next_page_number  }}">&raquo;</a>
                                </li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="#">x</a></li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">&raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>

                        <br>
                        {% endif %}

                    </div>
                </div>
            </div>
            
        </div>
        {% include 'layouts/footer.html' %}
    </div>
{% endblock %}