
<div class="col-sm-6 col-md-4 col-xl-3">
    <!--  Modal content for the above example -->
    <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog"
        aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="color:red;" class="modal-title mt-0" id="myExtraLargeModalLabel"><b>Diqqat!</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="color:yellow;">Sizning yuklanmalaringiz soni cheklangan!</p>
                    <p>Eslatma! <b style="color:green;">.xlsx</b> formatli fayllar yordamida ma'lumotlar kiritganingizda ma'lumotlaringiz limitingiz to'lgunicha yuklanadi va fayl ichidagi qolgan ma'lumotlar yuklanmaydi!</p>
                    <p class="mb-0" style="color:white;"><i>Limitingizni uzaytirmoqchi bo'lsangiz tizim administratorlari bilan bog'laning!</i></p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


        